body{
    background-color: white;
    text-align: center;
}
p{
    color: antiquewhite;
    font-family: 'Lexend Deca', sans-serif;
    width: 10rem;
    font-weight: 400;
    line-height: 1.5rem;
}
h1{
    color: antiquewhite;
    font-family: 'Big Shoulders Display', cursive
}
.a{
    /* background-color: rgb(234, 169, 169);
    width: 57rem;
    height: 30rem; */
    margin-top: 8rem;
    margin-left: 19rem; 
}
.e{
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    text-align: left ;
    background-color: hsl(31, 77%, 52%);
    width: 19rem;
    position: absolute;
    margin: 0%;
    padding: 5rem 0 1rem 3rem;
}
.f{
    text-align: left;
    background-color: hsl(184, 100%, 22%);
    width: 19rem;
    position: absolute;
    margin-left: 19rem;
    padding: 5rem 0 1rem 3rem;
}
.g{
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    text-align: left;
    background-color: hsl(179, 100%, 13%);
    width: 16rem;
    position: absolute;
    margin-left: 38rem;
    padding: 5rem 0 1rem 3rem;
}
.btn1 {
    background: white;
    background-image: -webkit-linear-gradient(top, white, white);
    background-image: -moz-linear-gradient(top, white, white);
    background-image: -ms-linear-gradient(top, white, white);
    background-image: -o-linear-gradient(top, white, white);
    background-image: linear-gradient(to bottom, white, white);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-color: antiquewhite;
    border-radius: 28px;
    font-family: Arial;
    color: orange;
    font-size: 20px;
    padding: 10px 20px 20px 20px;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .btn1:hover {
    background: red;
    text-decoration: none;
  }
  .btn2 {
    background: white;
    background-image: -webkit-linear-gradient(top, white, white);
    background-image: -moz-linear-gradient(top, white, white);
    background-image: -ms-linear-gradient(top, white, white);
    background-image: -o-linear-gradient(top, white, white);
    background-image: linear-gradient(to bottom, white, white);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-color: antiquewhite;
    border-radius: 28px;
    font-family: Arial;
    color: hsl(184, 100%, 22%);;
    font-size: 20px;
    padding: 10px 20px 20px 20px;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .btn2:hover {
    background: red;
    text-decoration: none;
  }
  .btn3 {
    background: white;
    background-image: -webkit-linear-gradient(top, white, white);
    background-image: -moz-linear-gradient(top, white, white);
    background-image: -ms-linear-gradient(top, white, white);
    background-image: -o-linear-gradient(top, white, white);
    background-image: linear-gradient(to bottom, white, white);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-color: antiquewhite;
    border-radius: 28px;
    font-family: Arial;
    color: hsl(179, 100%, 13%);
    font-size: 20px;
    padding: 10px 20px 20px 20px;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .btn3:hover {
    background: red;
    text-decoration: none;
  }
  .z{
    text-align: center;
    color: black;
    position: absolute;
    margin-top: 35rem;
    margin-left: 39rem;
  }